/* src/custom.css */
:root {
    --bs-primary: black; /* Replace with your desired color */
  }
  
  .btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
  }
  .btn-link{
    color: var(--bs-primary)!important;
  }
  .btn-outline-primary{
    border-color: var(--bs-primary) !important;
    color: var(--bs-primary)!important;
  }
  
  .btn-outline-primary:hover{
    background-color: var(--bs-primary) !important;
    color: white!important;
  }
  .bg-primary {
    background-color: var(--bs-primary) !important;
  }
  
  .text-primary {
    color: var(--bs-primary) !important;
  }
  

/* MY CUSTOM STYLE */
.card-product{
    height: 100%!important;
    border-color: #f1f1f1;
  }
.card-img-product{
    background-color: #f7f7f7;
}
.col-product{
    margin-bottom: 8px;
    padding: 0 4px;
}
.card-title.h5{
    font-size: 18pt
}

.text-light{
    color: #a7a7a7!important;
}
.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ced4da; /* Border to match input field */
    border-radius: 0.25rem; /* Match the input field border radius */
    position: absolute; /* Positioning for dropdown */
    background-color: white; /* Background color */
    z-index: 1000; /* Ensure it appears above other elements */
  }
  
  .suggestions-list li {
    padding: 8px; /* Padding for better click area */
    cursor: pointer; /* Cursor changes to pointer */
  }
  
  .suggestions-list li:hover {
    background-color: #f8f9fa; /* Highlight on hover */
  }
  .text-decoration-none {
    text-decoration: none !important; /* Remove underline */
  }
  

  /* PRODUCT DETAILS */
.product-image{
    background-color: #f7f7f7;
}
.card-rating .card-body{
    padding: 2rem

}

.btn-rating{
    padding: 0;
    text-decoration: none;
    display: inline!important;
}
.card-product h5{
    font-size: 18px;
}

.card-product p{
    font-size: 14px;
}

.card-product small{
    font-size: 12px;
}

.card-product .card-footer.custom-card-footer{
    border: 0;
    background: none!important;
}


.card-product .card-header{
    border: 0;
    background: none!important;
}